@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,900);
.display-flex {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
header {
  text-align: center;
  font-size: 25px;
  border-bottom: 1px solid #CACACA;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
}
footer {
  border-top: 1px solid #CACACA;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}
/* ==== ====  */
.intro-splash {
  display: none;
}
#BMG-enter {
  cursor: pointer;
  font-size: 40px;
  text-align: center;
}
#contentwrapper {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  background-image: url('../images/background.gif');
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 50px;
  width: calc(100% - 50px*2);
  height: 700px;
}
.logo-column {
  display: inline-flex;
  -webkit-display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  min-height: 400px;
}
.logo-column .logoimage {
  width: 130px;
  height: auto;
  -webkit-transition-duration: 0.2s;
}
.logo-column .logoimage:hover {
  -webkit-transform: scale(1.15);
}
#column3 {
  justify-content: center;
}
